<%- include('partials/header') -%>
  <div class="container flex ">
    <div class="card w-96 bg-base-100 shadow-xl">
  <figure><img src="https://images.unsplash.com/photo-1625670413987-0ae649494c61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZWNvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Forest" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Samara & Co
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>Samara & Co represents over 100 eco-friendly consumer and corporate brands to give them access to new market segments they would not be able to access otherwise</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Wholesale Retail</div> 
      <div class="badge badge-outline">Products</div>
    </div>
  </div>
</div>
<div class="card w-96 bg-base-100 shadow-xl">
  <figure><img src="https://images.unsplash.com/photo-1625670413987-0ae649494c61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZWNvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Forest" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Samara & Co
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>Samara & Co represents over 100 eco-friendly consumer and corporate brands to give them access to new market segments they would not be able to access otherwise</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Wholesale Retail</div> 
      <div class="badge badge-outline">Products</div>
    </div>
  </div>
</div>
<div class="card w-96 bg-base-100 shadow-xl">
  <figure><img src="https://images.unsplash.com/photo-1625670413987-0ae649494c61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZWNvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Forest" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Samara & Co
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>Samara & Co represents over 100 eco-friendly consumer and corporate brands to give them access to new market segments they would not be able to access otherwise</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Wholesale Retail</div> 
      <div class="badge badge-outline">Products</div>
    </div>
  </div>
</div>
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>