<%- include('partials/header') -%>


 
  <div class="hero min-h-screen" style="background-image: url(https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60);">
        <!--https://placeimg.com/1000/800/arch-->
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary"><a href="/feed">Find a Business</a></button>
        <button class="btn btn-primary"><a href="/profile">List a Business</button>
    </div>
  </div>
</div>
<!-- component -->


<!--<div class="flex flex-col w-full">
  <div class="grid h-20 card bg-base-300 #fef2f2 rounded-box place-items-center">
    <h1 class="mb-5 text-3xl font-bold" >What is a certified B-Corporation?</h1>
    <p class="mb-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </div> 
  <div class="divider"></div> 
  <div class="grid h-20 card bg-base-300 rounded-box place-items-center">content</div>
</div>-->

  
</section>
          
    

<%- include('partials/footer') -%>