<%- include('partials/header') -%>


 
  <div class="hero min-h-screen" style="background-image: url(https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60);">
        <!--https://placeimg.com/1000/800/arch-->
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary">Find a Business</button>
        <button class="btn btn-primary">List a Business</button>
    </div>
  </div>
</div>
  

    

<%- include('partials/footer') -%>